.menu{
    list-style-type: none;
}
.menu li{
    float: left;
    margin: 30px;
}
.menu li a{
    text-decoration: none;
    color: rgb(215, 243, 243);
    font-family: 'Montserrat', sans-serif;
}
.menu li a:hover{
    color: rgb(112, 236, 236);
}
.baslik{
    font-size: 50px;
    color: rgb(204, 183, 183);
    
    font-family: 'Montserrat', sans-serif;
}
.logo{
    width: 400px;
    height: 400px;
    float: right;
}
.buton{
    color: #e9e6eb;
    border: #B564DB;
    background-color: #1f8bac;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
    height: 40px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}
.buton:hover {
    color: rgb(80, 67, 67);
}
.buton:before {
    background: #B564DB;
    height: 100%;
    width: 0;
    left: -35%;
    top: 0;
    transform: skew(45deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    transition: width, height, 0.3s ease-in-out;
  }
  
  .buton:hover:before {
    height: 100%;
    width: 135%;
  }
  ::selection{
      background-color: darkgray;
      color: black;
      content: "kutDEV";
  }